
*{
 padding:0%;
 margin:0%;
 box-sizing: border-box;
}

html{
 color:whitesmoke;
 background-color: black;
 font-size:2rem;
 max-width: fit-content;
 text-align:justify;
}


img{
 display: block;
}

button{
 font-size:30px;
 color:black;
 background-color: brown;
 border-radius: 30px;
}

.reset{
 color: blanchedalmond;
 background-color: blue;
 font-size: 30px;
 border-radius: 1px;
}

.winner{
 font-size:25px;
 color:chocolate;
}

.red{
 color: red;
 font-size: 3rem;
 background-color: bisque;
 text-align: center;
 text-decoration: line-through;
}

.reds{
 color:aqua;
 font-size: 25px;

}

.green{
 color: greenyellow;
 font-size: 22px;
}

ol{
 list-style-type:none;
}

ul{
 list-style-type:none;
 text-align: center;
 list-style-position: inside;
}

ul li:nth-child(even){
 color: red;
}

.navs{
 margin-right: 40px;
 text-align: center;
}

nav ol{
 border: 4px solid black;
 max-width: 200px;
 margin: auto;
 list-style-type:none;
 margin-bottom: 15px;
 border-radius: 8px;
 line-height: 2;
}

a{
 text-decoration:none;
 display:block;
 border-top: 3px solid whitesmoke;
}

li:first-child a{
 border-top: none;
}

a:hover{
 cursor: pointer;
 background-color:#649282;
 color: red;
}

img{
    display: block;
}

.example{
   
 /* width:25%;
 height:auto;
 padding-right: 4rem;
 padding-bottom:0%;
 padding-left: center;
 text-align: center; */
 background-image: url('../manchester/img/logo\ jpg\ 250x250.jpg');
 background-repeat: no-repeat;
    margin-left: 25%;
    width: 100%;
    height: auto;
    min-width: 99%;
    border-radius: 50%;

 display: flex;
justify-content: flex-start;
align-items: center;
}

figcaption{
    white-space: nowrap;
    margin-top: 78px;
}

.thewinners{
 width: 100%;
 height: auto;
 min-width:100px;
 border-radius: 50%;
}

header{
 background-color: greenyellow;
}

.about{
 display:block;
 font-family: 'Times New Roman', Times, serif;
line-height: 1.5;

}